<% provide(:title, 'Edit user') %>
    <h1>Update your profile</h1>
    <h4><%= @user.email %></h4>

  <div class="center hero-unit">
  <div class="row">
    <section>
      <%= render 'user_form' %>
    </section>
  </div>
</div>
