<% provide(:title, 'User profile') %>
<h4><%= @user.email %></h4>

<div class="row">
  <aside class="span4">
    <%= link_to "Add TODO list!", new_project_path, class: "btn btn-large btn-primary" %>
  </aside>
</div>

<p>Find me in app/views/users/show.html.erb</p>