<% provide(:title, 'edit Project') %>

    <div class="center hero-unit">
      <div class="row">
        <p>Edit project</p>
        <section>
          <%= render 'projects/project_form' %>
        </section>
      </div>
    </div>
