<% provide(:title, 'New Project') %>

    <div class="center hero-unit">
      <div class="row">
        <section>
          <p>New project</p>
          <%= render 'projects/project_form' %>
        </section>
      </div>
    </div>
