<% provide(:title, 'New Project') %>


    <div class="center hero-unit">
      <div class="row">
        <section>
          <%= render 'shared/project_form' %>
        </section>
      </div>
    </div>