// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  background: linear-gradient(to bottom, #CAD2AF 25%, #BE7E00 75%);
}

.list-header {
  margin-top: 5px;
  background: #554BAC;
  border: 1px solid #315589;
  border-radius: 1px 2px 0 0;
}

.edit-list {
  display: inline-block;
  vertical-align: inherit;
}

.project {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #fff;
  text-shadow:0 1px 0 #fff;
  width: 560px;
  margin: 13px 0;
}

.line {
  vertical-align: middle;
  display: inline-block;
  border-right: 1px solid #bf5a22;
  height: 10px;
  margin: 5px;
}

.link-list {
  padding: 15px 10px;
}

.note-img {
  margin: 13px 10px;
}

/* logo */

.logo {
  padding: 0;
  font-size: 29px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
}

.descriptor {
  font-size: 18px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  margin-top: -12px;
}

/* Task Add*/

.add-task {
  background: #ccc;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

.add-task input[type="text"] {
  width: 575px;
  height: 50px;
  font-size: 14px;
  color: #bbb;
  background-color: #fff;
  border: 0;
}

.add-task input[type="submit"] {
  width: 100px;
  height: 20px;
  cursor: pointer;
  font-size:14px;
  color: #fff;
  text-align:center;
  background: #345E43;
  border-radius: 0 5px 5px 0;
}

.greenplus {
  width: 20px;
  margin-right: 15px;
}

/* Button */

.add-button {
  padding: 10px;
  display: table;
  margin: 40px auto 0;
  background: linear-gradient(to bottom, #5681b6 0%,#335791 100%);
  border: 1px solid #315589;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  text-shadow: 0 1px 0 #28405D;
  img {
    margin-right: 10px;
  }
}

.add-button:hover {
  color: #fff;
  text-decoration: none;
}

/*Task*/

input[type="checkbox"] {
  display: inline-flex;
}

input[type="checkbox"] + label::before {
  position: absolute;
  top: 50%;
  width:14px;
  height:15px;
  margin: -1px 13px 0 13px;
  content:"";
  cursor: pointer;
  display: inline-block;
}

.edit-task {
  display: inline-block;
  vertical-align: middle;
  padding: 15px 10px;
}
.delete-task {
  padding: 15px 10px;
}

.control-task{
  position: absolute;
  top: 50%;
  margin-top: -2px;
  display: inline-flex;
}

.task:hover {
  background: #FCFED5;
}

ul.task-list {
  padding-left: 0;
}

.task-list > .task:last-child {
  border-radius: 0 0 15px 15px;
}

li.task p {
  margin-bottom: 5px;
}

.task p {
  display: inline-block;
  padding: -1px 23px 1px;
  border-right: 1px solid #E7EBEA;
  width: 600px;
  text-align: justify;
  margin-left: -105px;
}

ul.task-list {
  border-radius: 0 0 15px 15px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
  list-style-type: none;
}

li.task {
  background: #fff;
  border-bottom: 1px solid #E7EBEA;
  color: #999;
  font: bold 13px Arial, sans-serif;
  position: relative;
  cursor: move;
}
